body{
  padding: 0;
  margin: 0 auto;

}

.caption {
  color: #fff;
  text-shadow: 2px 2px 2px gray;
  text-align: center;
}

.set-center{
  text-align: center;
}

.expand-padding-sm{
  padding-top: 10px;
  padding-bottom: 10px;
}

#split{
  height:100%;
  width:100%;
  font-size:0;
  margin:0 auto;
}

.item{
  display:inline-block;
  vertical-align:top;
  height:100%;
  width:50%;
  background-color: #000;
}

.item:nth-child(2){
  background-color: darkgreen;
}

.bg-panel{
  background-color: #ffffff33;
  border-radius: 20px;
}

.bg-panel-op{
  background-color: #000000cc;
  border-radius: 20px;
}

.paragraph{
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.set-size{
  max-width: 480px;
}

@media only screen and (max-width: 1024px){
  .set-size{
    max-width: 375px;
  }
}


@media only screen and (max-width: 600px){
  .set-size{
    width: 320px;
    max-width: 320px;
  }

  .paragraph{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }

  .caption {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 2px gray;
    text-align: center;
  }

}
