.card{
   border: 1px solid black;
    border-radius: 5px;
    width: 320px;
    padding: 5px 5px 10px 5px;
    margin: auto;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    background-color:blanchedalmond;
}

.container{
   border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    margin-top: 5px;
}

h3{
    padding: 2px;
}

.profile-Img{
    width: 300px;
    margin: auto;
    display: block;
    border-radius: 15px;
    padding: 2px;
}


ul{
    list-style-type: none;
    padding: 5px;
}

p{
    padding: 5px;
}

.sa-Italic{
    font-style: italic;
}


.sa-Bold{
    font-weight: bold;
}
